<div id="mt-plugin-squoosh-modal" class="modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><__trans phrase="Optimize Image"></h4>
      </div>
      <div class="modal-body">
        <iframe id="mt-plugin-squoosh-editor" style="flex: 1 1; border: 0"></iframe>
      </div>
      <div class="modal-footer">
        <input id="mt-plugin-squoosh-filename" class="form-control" />
        <button
           type="submit"
           id="mt-plugin-squoosh-upload"
           class="btn btn-primary action primary button">
          <__trans phrase="Upload">
        </button>
        <button
           type="button"
           class="btn btn-default action button"
           data-dismiss="modal">
          <__trans phrase="Cancel">
        </button>
      </div>
    </div>
  </div>
</div>
