<mtapp:setting id="squoosh" label="<__trans phrase="Squoosh">">
  <input name="squoosh_enabled_beacon" type="hidden" value="1"/>
  <div class="custom-control custom-checkbox">
    <input name="squoosh_enabled" id="squoosh_enabled" type="checkbox" class="custom-control-input" value="1" <mt:if name="squoosh_enabled"> checked="checked"</mt:if>/>
    <label class="custom-control-label" for="squoosh_enabled"><__trans phrase="Use Squoosh before uploading images."></label>
  </div>
</mtapp:setting>
